<h1 class="fw-normal">Youtube Videos</h1>
<hr />

<div class="row row-cols-1 row-cols-md-4 g-4">
	<div class="col" *ngFor="let video of videos">
		<div class="card">
			<img [src]="video.thumbnails.high.url" class="card-img-top" alt="..." />
			<div class="card-body">
				<h5 class="card-title">{{ video.title }}</h5>

				<p class="card-text"><strong>Autor:</strong> {{ video.channelTitle }}</p>

				<p class="card-text"><strong>Publicado:</strong> {{ video.publishedAt | date }}</p>

				<button class="btn btn-outline-danger w-100" (click)="showVideo(video)">Ver Video</button>
			</div>
		</div>
	</div>
</div>

<div class="row my-5 text-center">
    <div class="col">
        <button type="button" class="btn btn-outline-primary btn-lg">Siguiente pagina</button>
    </div>
</div>
